<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
  <link rel="stylesheet" type="text/css" href="./style.css">
  <link rel="stylesheet" href="./bower_components/angular-material/angular-material.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<script src="./bower_components/angular/angular.js"></script>
<script src="./bower_components/angular-aria/angular-aria.js"></script>
<script src="./bower_components/angular-animate/angular-animate.js"></script>
<script src="./bower_components/angular-material/angular-material.js"></script>
<script src="./js/main.js"></script>
<body id="appContainer" ng-app="CBSFrontend">
  <div id="bgContainer"></div>
  <div ng-controller="AppCtrl" layout="column" style="height:500px;" ng-cloak>

    <!-- SIDE NAV -->
    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
      <div ng-controller="SideNavCtrl" id="sideNavContainer">
        <md-toolbar class="md-theme-indigo">
          <h1 class="md-toolbar-tools">Hallo, Anonym</h1>
        </md-toolbar>
        <md-content layout="column" layout-padding ng-controller="LeftCtrl">
          <md-button class="md-raised">Fallsuche</md-button>
          <md-button class="md-raised md-warn">Settings</md-button>
        </md-content>
      </div>
    </md-sidenav>


    <!-- WARNING TOOLBAR -->
    <section class="warningToolbar" ng-if="serverConnectionLost" layout="row">
      <md-toolbar layout-align="center center" class="md-warn">
        <div>
          Sorry, wir haben offenbar momentan einige technische Probleme :(
        </div>
      </md-toolbar>
    </section>
    <div style="position:relative;">
      <div id="titlebar"></div>
      <!-- First Row, Currently contains the left menu button and the right info button-->
      <section id="buttonRow" layout="row" ng-Controller="MainInputCtrl" flex>
        <div layout-padding flex="100" layout layout-align="space-between">
        <md-button ng-click="toggleLeft()" class="md-icon-button" aria-label="Menu">
          <md-icon aria-label="Menu" class="material-icons">menu</md-icon>
        </md-button>
        <md-button ng-click="infoClicked()" class="md-icon-button" aria-label="Info">
          <md-icon aria-label="Info" class="material-icons">info</md-icon>
        </md-button>
      </div>
      </section>
      <section id="searchRow" ng-Controller="SearchControl" layout="row" layout-align="start start" flex>
        <form ng-submit="retrieveData()" flex="100" flex layout layout-align="center start">
          <div md-whiteframe="24" id="inputFrame" layout layout-align="center start" flex="50">
            <md-input-container flex="90" id="mainInput">
              <label>
                Gib eine Rechtsfrage ein:
              </label>
              <input type="text" ng-change="inputChanged()" ng-model="searchTerm">
            </md-input-container>
          </div>
        </form>
      </section>
      <section id="resultContainer" ng-controller="ResultCtrl" layout="column">
        <div class="querySpinner" ng-if="queryInProgress" layout layout-align="center center">
          <md-progress-circular md-diameter="72" md-mode="indeterminate"></md-progress-circular>
        </div>
        <md-card md-whiteframe="12" class="results" ng-repeat="item in results | orderBy:'similarity':true">
          <md-card-title id="resultTitle">
            <md-card-title-text layout="row" flex>
              <span flex="90" class="md-headline">{{item.judgement.offence}}</span>
              <div id="resultDateAndComittee" flex="10" class="md-subhead">
                {{item.judgement.date | date:'EEE, dd.MM.yyyy'}} <br>
                {{item.judgement.comittee.name}}
              </div>
            </md-card-title-text>
          </md-card-title>
          <md-progress-linear md-mode="determinate" value="{{item.similarity * 100}}"></md-progress-linear>
          <md-card-content>
            Search Input: {{item.userInput}} <br>
            {{item.judgement.keywords}}
          </md-card-content>
          <md-card-actions layout="row" layout-align="space-between">
            <div>
              <md-button ng-click="pdfClicked(item.judgement.pdfLink)" class="md-icon-button" aria-label="Info">
                <md-icon aria-label="picture_as_pdf" class="material-icons">picture_as_pdf</md-icon>
              </md-button>
              <md-tooltip md-direction="top">
                Öffne das PDF-Dokument zum passenden Fall
              </md-tooltip>
            </div>
            <div>
              <md-button class="resultButtons md-primary md-raised md-hue-4">
                Passend
                <md-tooltip md-direction="top">
                  Findest du, dass dieses Ergebnis deiner Frage ähnelt?
                </md-tooltip>
              </md-button>
              <md-button class="resultButtons md-warn md-raised md-hue-4">
                Unpassend
                <md-tooltip md-direction="top">
                  Hat dieses Ergebnis nichts mit deiner Frage zu tun?
                </md-tooltip>
              </md-button>
            </div>
          </md-card-actions>
        </md-card>
      </section>
      <section layout-align="center center" layout="row" ng-controller="BottomCtrl">
        <div>
        <md-button ng-click="toggleInfo()" class="md-icon-button" aria-label="Heartbeat">
            <md-icon ng-if="!serverConnectionLost" style="color:#2ECC71;font:bold;"  aria-label="favorite" class="material-icons">
              favorite
            </md-icon>
            <md-tooltip ng-if="!serverConnectionLost" md-direction="top">
              Server Responded!
            </md-tooltip>
          <md-icon ng-if="serverConnectionLost" style="color:#D35400;font:bold;"  aria-label="favorite" class="material-icons">
            favorite
          </md-icon>
          <md-tooltip ng-if="serverConnectionLost" md-direction="top">
            Server not responding!
          </md-tooltip>
        </md-button>
      </div>
      </section>
  </div>
    </div>
</body>
</html>
