<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
  <link rel="stylesheet" href="/bower_components/angular-material/angular-material.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="style.css" rel="stylesheet">
</head>
<script src="/bower_components/angular/angular.js"></script>
<script src="/bower_components/angular-aria/angular-aria.js"></script>
<script src="/bower_components/angular-animate/angular-animate.js"></script>
<script src="/bower_components/angular-material/angular-material.js"></script>
<script src="js/main.js"></script>

<body id="appContainer" ng-app="CBSFrontend">
  <div ng-controller="AppCtrl" layout="column" style="height:500px;" ng-cloak>
    <section layout="row" flex>
      <!-- First Row, Currently contains the left menu button, the searchbox and the right info button-->
      <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
        <md-toolbar class="md-theme-indigo">
          <h1 class="md-toolbar-tools">Menu</h1>
        </md-toolbar>
        <md-content layout="column" layout-padding ng-controller="LeftCtrl">
          <md-button class="md-raised">Search Cases</md-button>
          <md-button class="md-raised md-primary">New Case</md-button>
          <md-button class="md-raised md-warn">Settings</md-button>
        </md-content>
      </md-sidenav>
      <md-button layout-padding flex="5" ng-click="toggleLeft()" class="md-icon-button" aria-label="Menu">
        <md-icon aria-label="Menu" class="material-icons">menu</md-icon>
      </md-button>
      <md-content flex="90" layout-padding layout-fill>
        <form layout="row" layout-align="center center" ng-submit="retrieveData()">
          <md-input-container id="mainInput" layout-align="start center">
            <label>
              Enter your legal question:
            </label>
            <input type="text" ng-model="searchTerm">
          </md-input-container>
          <md-button class="md-raised md-primary" type="submit">Add Message</md-button>
        </form>
      </md-content>
      <md-button layout-padding flex="5" ng-click="infoClicked()" class="md-icon-button" aria-label="Info">
        <md-icon aria-label="Info" class="material-icons">info</md-icon>
      </md-button>
    </section>
    <section layout="row">
      <md-card ng-repeat="item in results">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{item.judgement.offence}} {{item.similarity | number:2 | number}}</span>
            <span class="md-subhead">{{item.judgmenet.comittee.name}}</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          Search Input: {{item.userInput}} <br>
          {{item.judgement.keywords}}
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
          <md-button>Passend</md-button>
          <md-button>Unpassend</md-button>
        </md-card-actions>
      </md-card>
    </section>
  </div>
</body>
</html>
