#titlebar {
  height: 150px;
  background: #009688;
  position: absolute;
  top: 0;
  width: 100%;
  background-image: url("./assets/hwrbeargrey.png");
  background-position: 50% 10%;
  background-repeat: no-repeat;
}

.md-toolbar-tools{
  background: #009688;
}
body {
  font-family: 'Roboto', sans-serif;
}
#buttonRow {
  height: 110px;
}
#bgContainer {
  height: 100%;
  width: 100%;
  z-index: -2;
  background: #FAFAFA;
  position:absolute;
}
.login{
  margin-top:-30px;
}
#anmelden{
  margin-top:-30px;
}
#inputFrame {
  background: #FFFFFF;
  z-index: 2;
  position: relative;
  height: 80px;
}
#searchRow {
  margin-bottom: 50px;
}
#resultContainer {
  margin: 50px 50px 50px 50px;
}
#resultTitle {
  padding: 16px;
}
#dateSectorComittee {
  padding: 0px;
  display: inline-block;
}
.resultButtons {
  font-weight: bold;
}


.icon-s24 {
  width: 24px;
  height: 24px;
}
.icon-s36 {
  width: 36px;
  height: 36px;
}
.icon-s48 {
  width: 48px;
  height: 48px;
}

/* From http://codepen.io/Tallyb/pen/adpObe */
.vertical-divider {
  border-top-width: 0;
  border-right-width: 1px;
  border-right-style: solid;
  height: 100%;
}

/* ANIMATIONS */
.results.ng-enter-stagger {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.results.ng-enter {
  transition: 1s linear all;
  opacity: 0;
  max-height: 0px;
}
.results.ng-enter-active {
  height: auto;
  opacity: 1;
  max-height: 1000px;
}

.results.ng-leave-stagger {
}

.results.ng-leave {
  transition: 0.5s linear all;
  max-height: 1000px;
}


.results.ng-leave-active {
    opacity: 0;
    max-height: 0px;
}

/* ngIf animation */
.warningToolbar.ng-enter,
.warningToolbar.ng-leave {
  -webkit-transition: 1s ease-in-out all;
  -moz-transition: 1s ease-in-out all;
  -ms-transition: 1s ease-in-out all;
  -o-transition: 1s ease-in-out all;
  transition: 1s ease-in-out all;
}
.warningToolbar.ng-enter,
.warningToolbar.ng-leave.ng-leave-active {
  opacity: 0.99; /* Not sure why opacity has to animated aswell, but relative positioning is broken without */
  max-height: 0px;
}
.warningToolbar.ng-leave,
.warningToolbar.ng-enter.ng-enter-active {
  opacity: 1;
  max-height: 1000px;
}

/* ngIf animation */
.querySpinner.ng-enter,
.querySpinner.ng-leave {
  -webkit-transition: 1s ease-in-out all;
  -moz-transition: 1s ease-in-out all;
  -ms-transition: 1s ease-in-out all;
  -o-transition: 1s ease-in-out all;
  transition: 1s ease-in-out all;
}
.querySpinner.ng-enter,
.querySpinner.ng-leave.ng-leave-active {
  opacity: 0;
  max-height: 0px;
}
.querySpinner.ng-leave,
.querySpinner.ng-enter.ng-enter-active {
  opacity: 1;
  max-height: 250px;
}

.footer {
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
}

.footercontent {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}

#settingsButton {
  margin-bottom: 0px;
}

#settingsMenu {
  margin-left: 8px;
  margin-right: 8px;
  border-width: thin;
  border-color: lightgrey;
  border-style: solid;
}

/* ngIf animation for settings menu*/
#settingsMenu.ng-enter,
#settingsMenu.ng-leave {
  -webkit-transition: 1s ease-in-out all;
  -moz-transition: 1s ease-in-out all;
  -ms-transition: 1s ease-in-out all;
  -o-transition: 1s ease-in-out all;
  transition: 1s ease-in-out all;
}
#settingsMenu.ng-enter,
#settingsMenu.ng-leave.ng-leave-active {
  opacity: 0.99; /* Not sure why opacity has to animated aswell, but relative positioning is broken without */
  max-height: 0px;

  overflow-y: hidden;
}
#settingsMenu.ng-leave,
#settingsMenu.ng-enter.ng-enter-active {
  opacity: 1;
  max-height: 250px;
}
